@using Fakture.Controllers
@using Fakture.Models
@using Fakture.ViewModels
@using Fakture.Helper

@model ProizvodiIndexVM

@{
    ViewData["Title"] = "Index";
}

<h1>Prikaz proizvoda</h1>
<a asp-controller="Admin" asp-action="PrikazNarudzbi" class="btn btn-success">Pregledaj sve narudzbe</a>

<table class="table">
    <thead>
        <tr>
            <th>Naziv proizvoda</th>
            <th>Cijena</th>
            <th>Sifra</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
        <tr>
            <td>@x.Naziv</td>
            <td>@x.Cijena</td>
            <td>@x.Sifra</td>
            <td>
                <a asp-controller="Admin" asp-action="ProizvodEdit"
                   asp-route-ProizvodId="@x.ProizvodId" class="btn btn-primary">Uredi</a>

                <a asp-controller="Admin" asp-action="Obrisi"
                   asp-route-ProizvodId="@x.ProizvodId" class="btn btn-danger">Obrisi</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-controller="Admin" asp-action="ProizvodAdd" class="btn btn-success">Dodaj</a>

